<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juice Store</title>
</head>
<body>
    <h1>MUKUND JOGANI - 8828329</h1>
  <nav class="navbar"> 
    <ul>
      <li><a href="/">ORDER JUICES</a></li>
      <li><a href="/AllOrders">VIEW ORDERS</a></li>
    </ul>
  </nav>
  <h2 id="title">JUICE STORE</h2>
  <form name="orderform" method="Post" action="">
    <div id="form">
      <label>NAME* :</label>
      <input id="name" type="text" name="name"><br />

      <label>PHONE NO.* :</label>
      <input id="phone" placeholder="xxxxxxxxxx" type="text" name="phone"><br />

      <label>Mango Juices :</label>
      <input id="mango" placeholder="Please enter Number Only" type="text" name="mango"><br />

      <label>Berry Juices :</label>
      <input id="berry" placeholder="Please enter Number Only" type="text" name="berry"><br />

      <label>Apple Juices :</label>
      <input id="apple" placeholder="Please enter Number Only" type="text" name="apple"><br />

      <br /><br />

      <input type="reset" value="RESET">
      <input type="submit" value="PLACE ORDER">
      <p id="errors"></p>
    </div>
  </form>
</body>
</html>