body{
    background-color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px; 
    color: black;
}

#title{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: center;
}

#errors{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;


}
form, .formData{
    width: 450px;
    border: 3px solid black;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
    background-color: white;
    border-radius: 10px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}
label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color:black;
}
input:not([type="radio"]), select{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 10px;
    right: 0px;
    
}
input:not([type="radio"]){
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
}
select{
    width: 190px;
    margin-top: 10px;
}
input[type="submit"]{
    width: 100%;
    text-align: center;
    font-size: 22px;
    background-color: white;
    color:black;
    border: 2px solid black;
    padding: 10px;
    height: 50px;
    border-radius: 4px;
}
input[type="reset"]{
    width: 100%;
    text-align: center;
    font-size: 22px;
    background-color: white;
    color:black;
    border: 2px solid black;
    padding: 10px;
    height: 50px;
    border-radius: 4px;
}
input[type="submit"]:active{
    box-shadow: -2px -2px 0px black;
}
input[type="reset"]:active{
    box-shadow: -2px -2px 0px black;
}

.navbar{
    background-color: white;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px #2c2c2c;
    color: white;
    border-radius: 10px;
    margin-top: 2em;
}

.navbar ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.navbar ul li{
    display: inline-block;
    width: 200px;
}

.navbar ul li:hover{
    background-color: rgb(194, 187, 187);
}
.navbar ul li a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}
h1 {
    font-size: 110%;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-left: 19em;
    margin-right: 18em;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 10px;
}
footer h2{
    font-size: 80%;
    text-align: center;
    border-top: 3px solid rgb(0, 0, 0);
    margin-left: 19.5em;
    margin-right: 19.5em;
    margin-top: 5em;
} 